{% extends "base.html" %}

{% block seo -%}
  {%- set site_url = current_url | default(value=get_url(path="about")) -%}
  {% set author = config.extra.author | default(value="") -%}
  {% set description = section.description | default(value=config.description) -%}
  {% set image = config.extra.seo.image | default(value="") -%}
  {% set image_height = config.extra.seo.image_height | default(value=0) -%}
  {% set image_width = config.extra.seo.image_width | default(value=0) -%}
  {% set og_title = section.title | default(value="About") -%}
  {% set title = og_title ~ " | " ~ config.title -%}
  {% set web_type = "WebPage" -%}
  {% include "partials/seo.html" %}
{%- endblock seo %}

{% block content %}
<div class="post">
  <div class="post-info">{{ config.extra.author }}</div>
  <h1 class="post-title">{{ section.title }}</h1>
  <div class="post-line"></div>
  {{ section.content | safe }}
</div>
<div class="pagination"><a href="#" class="top">Top</a></div>
{% endblock content %}
