{% extends "base.html" %}

{% block seo -%}
  {%- set site_url = current_url | default(value=get_url(path="404.html")) -%}
  {% set author = config.extra.author | default(value="") -%}
  {% set image = config.extra.seo.image | default(value="") -%}
  {% set image_height = config.extra.seo.image_height | default(value=0) -%}
  {% set image_width = config.extra.seo.image_width | default(value=0) -%}
  {%- set tags = "Tags" -%}
  {% set og_title = tags -%}
  {% if config.title -%}
    {% set title = tags ~ " | " ~ config.title -%}
  {% else -%}
    {% set title = tags -%}
  {% endif -%}
  {% set description = "Browse posts by tag." -%}
  {% set web_type = "CollectionPage" -%}

  {% include "partials/seo.html" %}
{%- endblock seo %}

{% block content %}
<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">Tags</h2>
    <div class="tags-header-line"></div>
  </div>
  <div class="tags-clouds">
    {% for term in terms %}<a href="#{{ term.name }}">{{ term.name }}</a>{% endfor %}
  </div>
  {% for term in terms %}
  <div class="tags-item" id="{{ term.name }}">
    <svg class="tags-item-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
    <h2 class="tags-item-label"><a href="{{ term.permalink | safe }}">{{ term.name }}</a></h2>
    {% for page in term.pages %}
    <a class="tags-post" href="{{ page.permalink | safe }}">
      <div><span class="tags-post-title">{{ page.title }}</span><div class="tags-post-line"></div></div>
      <span class="tags-post-meta"><time datetime="{{ page.date }}">{{ page.date | date(format=config.extra.timeformat | default(value="%B %e, %Y")) }}</time></span>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ config.base_url | safe }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Tags",
      "item": "{{ get_url(path='tags') | safe }}"
    }
  ]
}
</script>
{% endblock content %}
