{% extends "base.html" %}

{% block seo -%}
  {%- set site_url = current_url | default(value=get_url(path="404.html")) -%}
  {% set author = config.extra.author | default(value="") -%}
  {% set image = config.extra.seo.image | default(value="") -%}
  {% set image_height = config.extra.seo.image_height | default(value=0) -%}
  {% set image_width = config.extra.seo.image_width | default(value=0) -%}
  {% set og_title = term.name -%}
  {% if config.title -%}
    {% set title = term.name ~ " | " ~ config.title -%}
  {% else -%}
    {% set title = term.name -%}
  {% endif -%}
  {% set description = "Posts tagged with " ~ term.name ~ "." -%}
  {% set web_type = "CollectionPage" -%}

  {% include "partials/seo.html" %}
{%- endblock seo %}

{% block content %}
<div class="tags"><div class="tags-header"><h2 class="tags-header-title">{{ term.name }}</h2><div class="tags-header-line"></div></div></div>
<div class="catalogue">
  {% for page in term.pages %}
  <a href="{{ page.permalink | safe }}" class="catalogue-item">
    <div>
      <time datetime="{{ page.date }}" class="catalogue-time">{{ page.date | date(format=config.extra.timeformat | default(value="%B %e, %Y")) }}</time>
      <h1 class="catalogue-title">{{ page.title }}</h1>
      <div class="catalogue-line"></div>
      <p>{% if page.description %}{{ page.description }}{% elif page.summary %}{{ page.summary | striptags | safe }}{% else %}{{ page.content | striptags | truncate(length=280) | safe }}{% endif %}</p>
    </div>
  </a>
  {% endfor %}
</div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ config.base_url | safe }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Tags",
      "item": "{{ get_url(path='tags') | safe }}"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ term.name }}",
      "item": "{{ term.permalink | safe }}"
    }
  ]
}
</script>
{% endblock content %}
