{% extends "tale-zola/templates/tags/single.html" %}

{% block seo -%}
  {{ super() }}

  {% set og_title = term.name -%}
  {% if config.title -%}
    {% set title = term.name ~ " | " ~ config.title -%}
  {% else -%}
    {% set title = term.name -%}
  {% endif -%}
  {% set description = "Posts tagged with " ~ term.name ~ "." -%}
  {% set web_type = "CollectionPage" -%}

  {{ macros::seo(title=title, og_title=og_title, author=author, description=description, site_url=site_url, image=image, image_height=image_height, image_width=image_width, web_type=web_type) }}
{%- endblock seo %}

{% block content %}
{{ super() }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ config.base_url | safe }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Tags",
      "item": "{{ get_url(path='tags') | safe }}"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ term.name }}",
      "item": "{{ term.permalink | safe }}"
    }
  ]
}
</script>
{% endblock content %}
