{% if title %}<title>{{ title }}</title>{% endif %}
{% if og_title %}<meta property="og:title" content="{{ og_title }}">{% endif %}
{% if author %}<meta name="author" content="{{ author }}">{% endif %}
<meta property="og:locale" content="{{ config.extra.seo.og_locale | default(value="en_US") }}">
{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if site_url %}
<link rel="canonical" href="{{ site_url | safe }}">
<meta property="og:url" content="{{ site_url | safe }}">
{% endif %}
{% if config.title %}<meta property="og:site_name" content="{{ config.title }}">{% endif %}
{% if image %}
<meta property="og:image" content="{{ get_url(path=image) | safe }}">
{% if og_title %}<meta property="og:image:alt" content="{{ og_title }}">{% endif %}
{% if image_height %}<meta property="og:image:height" content="{{ image_height }}">{% endif %}
{% if image_width %}<meta property="og:image:width" content="{{ image_width }}">{% endif %}
{% endif %}
{% if page?.date %}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%d") }}">
{% if page.updated %}<meta property="article:modified_time" content="{{ page.updated | date(format="%Y-%m-%d") }}">{% endif %}
{% else %}
<meta property="og:type" content="website">
{% endif %}
{% if page?.earlier %}<link rel="prev" href="{{ page.earlier.permalink | safe }}">{% elif paginator?.previous %}<link rel="prev" href="{{ paginator.previous | safe }}">{% endif %}
{% if page?.later %}<link rel="next" href="{{ page.later.permalink | safe }}">{% elif paginator?.next %}<link rel="next" href="{{ paginator.next | safe }}">{% endif %}
<meta name="twitter:card" content="{{ "summary_large_image" if image else "summary" }}">
{% if image %}<meta property="twitter:image" content="{{ get_url(path=image) | safe }}">{% endif %}
{% if og_title %}<meta property="twitter:title" content="{{ og_title }}">{% endif %}
{% if site_url %}<meta name="twitter:url" content="{{ site_url | safe }}">{% endif %}
{% if description %}<meta name="twitter:description" content="{{ description }}">{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ web_type | json_encode() | safe }},
  "headline": {{ og_title | json_encode() | safe }},
  "name": {{ og_title | json_encode() | safe }},
  "description": {{ description | json_encode() | safe }},
  "url": {{ site_url | json_encode() | safe }},
  "inLanguage": "en",
  "author": {
    "@type": "Person",
    "name": {{ author | json_encode() | safe }},
    "url": {{ config.base_url | json_encode() | safe }},
    "sameAs": [{{ config.extra.github | json_encode() | safe }}, {{ config.extra.linkedin | json_encode() | safe }}]
  }{% if image %},
  "image": {{ get_url(path=image) | json_encode() | safe }}{% endif %}{% if page?.date %},
  "datePublished": "{{ page.date | date(format="%Y-%m-%d") }}"{% if page.updated %},
  "dateModified": "{{ page.updated | date(format="%Y-%m-%d") }}"{% endif %}{% endif %}
}
</script>
