{% extends "base.html" %}

{% if section.extra?.katex or config.extra?.katex %}
  {% include 'partials/katex.html' %}
{% endif %}

{% block seo -%}
  {%- set site_url = current_url | default(value=get_url(path="404.html")) -%}
  {% set author = config.extra.author | default(value="") -%}
  {% set image = config.extra.seo.image | default(value="") -%}
  {% set image_height = config.extra.seo.image_height | default(value=0) -%}
  {% set image_width = config.extra.seo.image_width | default(value=0) -%}
  {% set og_title = config.title -%}
  {% set title = config.title -%}
  {% set description = section.description | default(value=config.description) -%}
  {% set web_type = "WebSite" -%}

  {% include "partials/seo.html" %}
{%- endblock seo %}


{#
{% block content %}
    <div class="post-list">
        {% for year, posts in section.pages | group_by(attribute="year") %}
            <h2>{{ year }}</h2>

            <ul>
            {% for post in posts %}
                {{ post_macros::post_preview(post=post) }}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock content %}
#}

{% block content %}
{% if paginator.pages %}
	<div class="catalogue">
		{% for page in paginator.pages -%}
			<a href="{{ page.permalink | safe }}" class="catalogue-item">
        <div>
          <time datetime="{{ page.date }}" class="catalogue-time">{{ page.date | date(format=config.extra.timeformat | default(value="%B %e, %Y")) }}</time>
          <h1 class="catalogue-title">{{ page.title }}</h1>
          <div class="catalogue-line"></div>
          <p>{% if page.description %}{{ page.description }}{% elif page.summary %}{{ page.summary | striptags | safe }}{% else %}{{ page.content | striptags | truncate(length=280) | safe }}{% endif %}</p>
        </div>
      </a>
		{%- endfor %}
	</div>
	<div class="pagination">
		{% if paginator.previous -%}
			<a href="{{ paginator.previous | safe }}" class="left arrow">&#8592;</a>
		{%- endif %}
		{% if paginator.previous or paginator.next -%}
			<span>{{ paginator.current_index }}</span>
		{%- endif %}
		{% if paginator.next -%}
			<a href="{{ paginator.next | safe }}" class="right arrow">&#8594;</a>
		{%- endif %}
	</div>
{% endif %}
{% endblock content %}
